<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Aplikacja</title>
    <script src="/javascripts/js/jquery.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css'>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/angular.min.js"></script>
    <script src="/javascripts/js/angular-route.min.js"></script>
    <script src="/javascripts/js/angular-resource.min.js"></script>
    <script src="/angular.js"></script>

</head>
<body>
<div class='container'>
    <!--<div class="jumbotron">-->
        <!--<form role="form">-->
            <!--<div class="form-group" >-->
                <!--<label for="city">Miasto</label>-->
                <!--<input type="text" ng-model="city" class="form-control" id="city"><br>-->
                <!--<a href="/#/check/{{city}}"><button type="submit" class="btn btn-default">Sprawdź!</button></a>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <nav class='navbar navbar-default'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li><a href='/#/'>Form</a></li>
                <li><a href='/#/all'>Wszystko</a></li>
                <li><a href='/#/technology'>Technologia</a></li>
                <li><a href='/#/registry'>Rejestracja</a></li>
                <li><a href='/#/login'>Logowanie</a></li>
                <li><a href='/#/rule'>Regulamin</a></li>
            </ul>
            <!--<p ng-if='currentUser' class='navbar-text navbar-right'>-->
                <!--Zalogowany jako {{currentUser.username}}-->
            <!--</p>-->
        </div>
    </nav>
    <div class="jumbotron">
        <div ng-view>

        </div>
    </div>

</div>

</body>
</html>