<!--<form action="/" enctype="multipart/form-data" method="post">-->
    <!--<input type="text" name="title"><br>-->
    <!--<input type="file" name="upload"><br>-->
    <!--<input type="submit" value="Upload">-->
    <!--</form>'-->
<div ng-controller='ImageController' class='container'>

<form action = "/" method="post" enctype="multipart/form-data">
    <input type="file" name="myimage" ng-click="change()"/>
    <br/>
    <br/>
    <select name="category">
        <option value="nature">Portret</option>
        <option value="technology">Technika</option>
        </select>
    <br/>
    <br/>
    <input type="hidden" name= "owner" value=" {{loggeduser.firstname }} " />
    <br/>
    <br/>
    <input type="text" name="description" placeholder="imageDescription" />
    <br/>
    <br/>
    <input type="submit" name="submit" value="submit">
</form>
</button>
</div>
<!--<img src="/57603cf21e4265cc2c46175a" />-->
<!--<img src="/5760187e99d5fc3e18f37305" />-->