<nav class='navbar navbar-default'>
    <div class='container'>
    <ul class='nav navbar-nav' ng-if="loggeduser != loggeduser.fistname">
        <!--<li><a href='/#/'>Form</a></li>-->
        <li><a href='/#/form'>Form</a></li>
        <li><a href='/#/all'>Wszystko</a></li>
        <li><a href='/#/technology'>Technologia</a></li>
        <li><a href='/#/user'>Zalogowany</a></li>
        <li><a href='/#/rule'>Regulamin</a></li>
    </ul>

    <ul class='nav navbar-nav' ng-if="loggeduser == loggeduser.fistname">
        <!--<li><a href='/#/'>Form</a></li>-->
        <li><a href='/#/all'>Wszystko</a></li>
        <li><a href='/#/technology'>Technologia</a></li>
        <li><a href='/#/signup'>Rejestracja</a></li>
        <li><a href='/#/signin'>Logowanie</a></li>
        <li><a href='/#/rule'>Regulamin</a></li>
    </ul>
        </div>
</nav>
<div class="jumbotron">
<p>Regulamin</p>
    </div>