<!--<div ng-controller='TechnologyController' class='container'>-->
<!--<nav class='navbar navbar-default'>-->
    <!--<div class='container'>-->
    <!--<ul class='nav navbar-nav' ng-if="loggeduser == loggeduser.fistname">-->
        <!--&lt;!&ndash;<li><a href='/#/'>Form</a></li>&ndash;&gt;-->
        <!--<li><a href='/#/all'>Wszystko</a></li>-->
        <!--<li class='active'><a>Technologia</a></li>-->
        <!--<li><a href='/#/signup'>Rejestracja</a></li>-->
        <!--<li><a href='/#/signin'>Logowanie</a></li>-->
        <!--<li><a href='/#/rule'>Regulamin</a></li>-->
    <!--</ul>-->
    <!--<ul class='nav navbar-nav' ng-if="loggeduser != loggeduser.fistname">-->
        <!--&lt;!&ndash;<li><a href='/#/'>Form</a></li>&ndash;&gt;-->
        <!--<li><a href='/#/form'>Form</a></li>-->
        <!--<li><a href='/#/all'>Wszystko</a></li>-->
        <!--<li class='active'><a>Technologia</a></li>-->
        <!--<li><a href='/#/user'>Zalogowany</a></li>-->
        <!--<li><a href='/#/rule'>Regulamin</a></li>-->
    <!--</ul>-->
        <!--</div>-->


<!--</nav>-->
<div class="jumbotron">
<h3>Technologia</h3>
    <ul class='list-group'>
        <li ng-repeat="post in posts | orderBy:' -date'" class='list-group-item'>
            <div class="text-left"><h4><strong>@Dodał: {{ post.owner }} </strong></h4></div>
            <div class="text-left"><h4>Kategoria: {{ post.category }} </h4></div>
          <img src="/{{ post._id}}" class="img-responsive" style="display:block;margin:auto" />
            <div class="text-center"><h2>{{ post.description }} </h2></div>
        </li>
    </ul>
    </div>
<!--</div>-->
